.App {
  background: rgba(10,25,41,255);
  min-height: 100vh;
}

.myNav{
  background-color: aliceblue;
}
.myCol{
  color: rgba(191,58,58,255);
  font-size: large;
  margin-left: 24px;
  font-weight: 500;
}
.myTitle{
  background: rgba(10,25,41,255);
  color: aliceblue;
  font-size: xx-large;
  padding: 30px;
}
.myColor{
  color:  rgba(191,58,58,255);
}
.myMesg{
  display: flex;
  color: aliceblue;
  background-color: rgba(191,58,58,255) ;
  /* position:absolute; */
  height: 26px;
  overflow: hidden;
}
.text-deco-none{
  text-decoration: none;
}

main {
  height: 100%;
  margin-top: -56px;
  padding-top: 56px;
}
.spinner{
  position: absolute;
  margin: auto;
  margin-top: calc(50vh - 56px);
  margin-left: 50%;
  transform: translateY(-50%);
}
/* ---------card's img---------- */
#img{
        height: 250px;
        /* max-width: 300px; */
        object-fit:cover;
  }
